body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4fa1ee;
    color: white;
    text-align: center;
    padding: 1em;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

/* Adjust fish images size */
.card img {
    max-width: 175px;
    height: auto;
    margin: 0 auto;
}

.tip-list .tips {
    padding-left: 0;
    list-style-type: none;
}

.tip-list .tip {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
}
